Red Rift Test Project/Library/
Red Rift Test Project/.idea/
Red Rift Test Project/Temp/UnityTempFile-1b82b8dce7d13f6408b63866efe47e32
Red Rift Test Project/Temp/
Red Rift Test Project/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Red Rift Test Project/Logs/
Red Rift Test Project/obj/
